body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(23,17,35,1);
}

header {
    color: #D90368;
    padding: 0;
    width: 200px;
    text-align: left;
    
}

main {

    flex: 1;
    padding: 0px;
    color: white;

}

aside {
    background-color: #030526;
    padding: 10px;
    width: 200px;
}

section {
    width: calc(100% - 420px); /* Calcul pour ajuster la largeur */
    padding: 10px;
    background-color: #e0e0e0;
}

nav {
    background-color: #241B37 ;
    color: #D90368;
    padding: 10px;
    height: 100vh;
}


#nom_site {
    color: #D90368;
    font-size: 25px;
}

ul {
    list-style: none;
    color: #D90368;
}

nav > ul > li {
    padding-top: 30%;
    font-size: 130%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 3px solid #D90368;
    border-radius: 10px;
    border-collapse: collapse;
}

#contenu th, #contenu td {
  border: 5px solid #ffffff;
  padding: 5px;
  text-align: left;
}

main{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

main >h1{
    margin-left: auto;
    margin-right: auto;
}

#missing{
    color : red;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #D90368;
}

thead > tr > th{
    width: fit-content;
    padding: 1%;
}

tbody > tr > td{
    width: fit-content;
    padding: 1%;
}